.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

.portfolio_item{
    background-color: var(--color-bg-variant);
    padding: 1.5rem;
    border-radius: 2.3rem;
    border-radius: 1px solid transparent;
    transition: var(--transition);
    margin-top: 2rem;
}

.portfolio_item:hover{
    border-color: var(--color-primary-variant);
    background-color: transparent;
    
}

.portfolio_item-image{
    border-radius: 1.5rem;
    overflow: auto;
}

.portfolio_item h3{
    margin: 1.2rem 0rem 2rem;

}

.portfolio_item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/*================================MEDIA QUERIES (MEDIUM DEVICES)=====================================================*/
@media screen and (max-width: 1024px) {
    .portfolio_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/*================================MEDIA QUERIES (MEDIUM DEVICES)=====================================================*/
@media screen and (max-width: 600px) {
.portfolio_container{
    grid-template-columns: 1fr;
    gap: 1rem;
}
}